<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target xsi:type="Console" 
				name="consoleTarget" 
				layout="PodcastUtilitiesTag ${uppercase:${level}} ${message}" />

		<target name="externalFileTarget"
				xsi:type="File"
				fileName="set-in-code.log"
				archiveFileName="set-in-code.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
				concurrentWrites="false"
				keepFileOpen="false"
				layout="${date:format=dd.MM.yyyy HH\\:mm\\:ss,fff} | ${padding:padding=5,fixedlength=true:${level:uppercase=true}} | ${message} | ">
		</target>
	</targets>

	<rules>
		<logger name="*" writeTo="externalFileTarget" />
		<logger name="*" writeTo="consoleTarget" />
	</rules>
</nlog>