<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
  <application android:requestLegacyExternalStorage="true" android:preserveLegacyExternalStorage="true" android:dataExtractionRules="@xml/appcenter_backup_rule" android:allowBackup="true" android:icon="@mipmap/ic_app" android:supportsRtl="true" android:theme="@style/AppTheme">
    <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.provider" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
    </provider>
    <!-- cannot get ${applicationId} to work so lets declare both flavours as it seems OK to do this -->
    <service android:name="com.andrewandderek.podcastutilities.sideload.debug.DownloadService" android:foregroundServiceType="dataSync">
    </service>
    <service android:name="com.andrewandderek.podcastutilities.sideload.DownloadService" android:foregroundServiceType="dataSync">
    </service>
  </application>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
</manifest>